.home_container {
  background: url("https://i.pinimg.com/564x/59/02/d5/5902d53758434e1f519988d3325e08a9.jpg");
  background-repeat: repeat;
  width: 100%;
  .navbar_container {
    position: sticky;
  }

  .content_container_portfolio {
    position: sticky;
    top: 0px;
    margin-top: 0px;
    width: 100%;
  }
}
